{% load static %}

<head>
    <title>McKenna_Grace</title>
    <link rel="stylesheet" href="https://cdn.acwing.com/static/jquery-ui-dist/jquery-ui.min.css">
    <script src="https://cdn.acwing.com/static/jquery/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/game.css' %}">
    <script src={% static 'js/dist/game.js' %}></script>
    <link rel="icon" href="https://png.pngtree.com/png-clipart/20230408/original/pngtree-heart-logo-png-image_9036485.png">
</head>

<body style="margin: 0">
    <div id="ac_game_12345678"></div>
    <script>
        $(document).ready(function() {
            let ac_game = new AcGame("ac_game_12345678");
        });
    </script>
</body>
